.semibold {
  font-weight: 600;
  color: var(--text-primary);
}

.text12 {
  font-size: 12px;
  color: var(--text-tertiary);
}

.padded {
  padding: 24px;
}

.flex_center_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.spaced {
  margin: 0;
  color: var(--text-primary);
}

.text13 {
  margin: 4px 0 0;
  color: var(--text-secondary);
  font-size: 13px;
}

.spaced1 {
  margin-top: 16px;
}

.textRight {
  margin-bottom: 0;
  text-align: right;
}
