.block0 {
  width: 160px;
}

.spaced {
  margin-bottom: 24px;
}

.spaced1 {
  margin-right: 8px;
  margin-bottom: 8px;
}

.spaced2 {
  width: 20px;
  height: 14px;
  object-fit: cover;
  border-radius: 2px;
  margin-right: 6px;
}

.spaced3 {
  margin-right: 8px;
}

.spaced4 {
  margin-bottom: 16px;
}

.spaced5 {
  display: block;
  margin-bottom: 16px;
}

.spaced6 {
  margin: 12px 0;
}
