.spaced {
  margin-bottom: 12px;
}

.text13 {
  font-size: 13px;
}

.spaced1 {
  margin-bottom: 16px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #d9d9d9;
}

.fullWidth {
  height: 420px;
  width: 100%;
}

.spaced2 {
  margin-top: 16px;
}
